<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Educación Financiera para el Mundo</title>

    <!-- Open Graph -->
    <meta property="og:title" content="Educación Financiera para el Mundo">
    <meta property="og:description" content="Asistente virtual sobre crédito para tomar decisiones informadas">
    <meta property="og:image" content="https://drive.google.com/uc?export=view&id=1_7qjMMe2BON0K4djW5XKtWVwFOdLpWGq">
    <meta property="og:url" content="https://bot-educacion-financiera-1.onrender.com/">
    <meta property="og:type" content="website">

    <!-- Vista previa -->
    <meta name="twitter:card" content="summary_large_image">
</head>
<body>
    <h1>Educación Financiera para el Mundo</h1>
    <p>Este bot te ayudará a comprender los créditos, ahorrar intereses y tomar decisiones financieras responsables.</p>
</body>
</html>
